:root {
    --header-height: 3.5rem;
    
    --button-color: hsl(0, 0%, 17%);
    --body-color: hsl(249, 19%, 14%);  
    --title-color: hsl(0, 0%, 90%);
    --first-color: hsl(182, 53%, 74%);
    --text-color: hsl(0, 0%, 90%);
    --container-color: hsl(0, 0%, 15%);
    --card-color: hsla(246, 16%, 5%, .5);
    --button-color-alt: hsl(246, 16%, 12%);
    --color-btnDark: white;
    --color-btnAdd: black;   
    
   
    --text-color-light: hsl(0, 0%, 55%);
    
    
    --border-color: hsl(0, 0%, 94%);
    --logoImg-color: invert(55%) sepia(96%) saturate(4628%) hue-rotate(328deg) brightness(96%) contrast(90%);
    --body-font: 'Roboto', sans-serif; 
}

body {
    background-color: var(--body-color)
}

body.dark_mode {
    --first-color: hsl(354, 78%, 60%);
--button-color-alt: hsl(0, 0%, 21%);
--card-color: hsl(0, 0%, 90%);
--title-color: hsl(0, 0%, 15%);
 --text-color: hsl(0, 0%, 35%);
--body-color: hsl(206, 4%, 97%);
--container-color: #fff;
--color-btnDark: #000;
--color-btnAdd: white;    
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: var(--title-color);
    font-weight: bold;
    
}

.cursor-pointer {
    cursor: pointer;
    color: var(--color-btnDark);
}

.font-family {
    font-family: var(--button-color-alt);
}

.font-color_gray {
    color: var(--text-color);
}

ul {
    list-style: none;
}

.font_primary-color {
    color: var(--first-color);
}

.main_content {
max-width: 1100px;
margin: auto;
background-color: var(--body-color);


}



.navbar {
    
    width: 100%;
    
    height: 80px;
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.nav {
    background-color: var(--container-color);
}

.navbar_content-logo {
    width: 40%;
    display: flex;
    
    align-items: center;
    gap: 1rem;
}

.navbar_icons {
    
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
       
    font-size: 30px;
}

.nav-logo, .nav-icon {
    width: 50%;
    
}



.nav-icon {
   
    border-radius: 50%;
    width: 53px;
    height: 53px;
    position: relative;
    overflow: hidden;
}

.nav-icon img {
   
    width: 70px;
    height: 70px;
    right: -10px;
    top: -9px;
    position: absolute;
    filter: var(--logoImg-color);    
}

.bx-window-close {
    font-size: 30px;
    position: fixed;
    right: 10px;
    
}

.content_cart {
    background-color: rgba(245, 239, 239, 0.5);
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);   
    
    transform: translatex(100%);
    padding: 10px;
    z-index: 2000;
}

.content_cart-show {
    transform: translatex(0);
}

.cart_body{
    
    width: 100%;
    height: 90%;
    padding: 0.5rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    border-radius: 20px;
    overflow-y: scroll;
   
}

.item_cart {
  width: 100%;
 height: 250px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
  
}

.item_cart-img {
   background-color: var(--container-color);
   height: 70%;
    
}

.item_cart-img img {
   display: block;
  width: auto;
  margin: auto; 
   height: 100%;
   padding: 1rem; 
   
}

.item_cart_details {
   background-color: var(--body-color); 
   height: 30%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.4rem;
   color: var(--title-color);
   
}

.item_cart-options {
    display: flex;
    gap: 0.5rem;
}

.total_cart {
    background-color: var(--first-color);
    width: 100%;
    height: 10%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_items:hover {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
}

.bx-cart-alt {
    position: relative;
}
.counter_cart {
    background-color: var(--title-color);
    position: absolute;
    height: 20px;
    width: 20px;
    top: -16px;
    left: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--body-color);
}

.menu_body {
    width: 20%;
    
}

.menu {
  background-color: var(--container-color); 
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0; 
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  align-items: center;
  gap: 3rem;
  font-size: 30px;
  font-weight: bold;
  
  transform: translatex(100%);
  z-index: 900; 
}

.menu_highligter {
    transition: opacity 0.5s;
}

.menu_highligter:hover {
    color: var(--first-color);
    opacity: 0.6;
}

.menu_highligter-active {
    color: var(--first-color);
}

.menu_show {
    transform: translatex(0);  
}

.btn-close {
    position: absolute;
    right: 60px;
    top: 25px;
    transform: translatex(100%);
    color: var(--color-btnDark);
}


.home {
    
    max-width: 100%;
    height: auto;
    min-width: 450px;
    
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 5%;
    
    /* position: relative; */
    margin-bottom: 0;
    
}



.img-home {
    
    height: 100%;
    width: 45%;
    min-height: 300px;
    min-width: 250px;
    
    background-color: var(--first-color);
    font-size: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    margin-left: 50px; 
    
    
}

.img-home {
    min-width: 350px;
    min-height: 600px;
    
}

.img-home img {
width: 100%;
height: 100%;
max-height: 70%;
display: block;

}

.info-home {
    
min-width: 450px;    
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 50px;


}


.title-home {
   font-weight: bolder;
   width: 450px;
   height: 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 35px;
   margin-bottom: 1px;
   margin-left: 20px;
   color: var(--text-color);
}

.info-details {
    /* background-color: yellow; */
   color: var(--text-color); 
   width: 450px;
   height: 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 18px;
   margin-bottom: 10px;
   margin-left: 20px;
}



.info-home p {
    color: var(--first-color);
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;    
    }
    
.button-home {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.button1 {
    background-color: var(--text-color-light);
    border: none;
    height: 50px;
    width: 100px;
    
}

.button1:hover {
    background-color: var(--text-color);
    color: var(--container-color);
       transition: all 1s;
}

.button2 {
    background-color: var(--button-color-alt);
    border: none;
    height: 60px;
    width: 150px;
    color: var(--border-color);
    
}

.button2:hover {
    background-color: var(--first-color);
       transition: all 1s;
}

.content_products {
    padding-top: 100px;
    
}

.products {
    
   
    
    max-width: 100%;
    
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}   

.products h3 {
    margin-bottom: 10px;
}

.products-line {
    border-right: solid var(--text-color-light) 1px;
    cursor: pointer;
}


.products div {
    box-sizing: border-box;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.items {
   
  
    max-width: 100%;
    
    min-width: 450px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}

.items_box {
    background-color: var(--container-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
    position: relative;
    z-index: 0;
}


.bx-plus-medical{
    background-color: var(--body-color);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
   color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 75px;
    right: 20px;
    transition: transform 1s ease, filter 1s ease;
}

.bx-plus-medical:hover {
    color: var(--color-btnAdd);
    background-color: var(--first-color);
    transform: translateY(-5px);
    filter: brightness(1.3);
    transition: transform 1s ease, filter 1s ease;
}

.btn-add {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 125px;
    left: 180px;
    
    transition: box-shadow 0.5s;
    
}

.change_position {
    position: none;
}

.btn-add:hover {
    background-color: var(--first-color);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.200);
    transform: translate(0, -2px);    
}    

.btn-add i {
    position: absolute;
    
}

.img-sample {
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background-color: var(--card-color);

    
}

.img-sample img:hover {
    transform: translate(0, -6px);
    transition: all 1s;
}

.items-img {
    width: 75%;
    height: 75%;
    display: block;
    max-width: 300px;
    
}

.items-details {
    color: var(--title-color);
    height: 100px;
    width: 70%;
    background-color: var(--container-color);
    padding-top: 30px;
    margin-left: 20px;
}

.items-info {
    
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
    background-color: var(--container-color);
    width: 200px;
    
}

.items-name {
    border-left: solid var(--text-color-light) 1px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: var(--container-color);
    
}

.line-division {
    border-left: solid 2px var( --text-color-light);
    padding-left: 5px;
}


.about {
    padding-top: 100px;
    background-color: var(--body-color);
    min-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: solid 2px var(--container-color);
}


.information, .about-us, .prod, .social {
    color: var(--text-color);
    
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}


.space {
margin-bottom: 20px;
}

.position_svg {
    font-size: 30px;
}
   

.footer {
    background-color: var(--body-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

@media (min-width: 700px) {
    
    .menu {
         
    width: 0;
    height: 0; 
    position: static;
    
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    
    align-items: center;
    gap: 3rem;
    font-size: 20px;
    font-weight: bold;
             
    }

    
    .counter_cart {
        background-color: var(--body-color);
        position: absolute;
        height: 20px;
        width: 20px;
        top: -16px;
        left: 18px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: var(--title-color);
    }
    .menu_body {
        width: 25%;
        
    }  
          
    .bx-exit {
        display: none;
        height: 0;
    }  

    .bx-menu {
        display: none;
    }

    .navbar {
        width: 1100px;
        
    }

    .navbar_content-logo {
        width: 25%;
        
    }

    .content_cart {
    width: 30%;
    
    }

    .cart_body{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }

    .item_cart {
        
        display: flex; 
    }

    .item_cart-img {
        width: 50%;
        height: 100%;
          
     }
     .item_cart_details {
         
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        padding-left: 2rem;
     }

     .pie_de-pagina {
        
        background-color: var(--body-color);
        width: 100vw;
        
     }

     .about {
        padding-top: 150px;
        background-color: var(--body-color);
        width: 1100px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .information, .about-us, .prod, .social {
        height: 100%;
        
    }

    .footer {
        width: 100vw;
        
    }

      
}